.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
    font-size: 0.9rem;
}

.Active i {
    color: red;
}

@media (max-width: 460px) {
    .SpecificIcon {
        font-size: 0.9rem;
    }

    .SpecificIcon i {
        font-size: 0.9rem;
    }
}

@media(max-width: 389px) {
    .SpecificIcon {
        font-size: 0.85rem;
    }

    .SpecificIcon i {
        font-size: 0.85rem;
    }

    /* overwrite bootstrap css */
    :global(.navbar-toggler) {
        font-size: 1rem !important;
    }
}
