.App {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    min-height: 100vh;
}

.Main {
  padding-top: 115px;
}

* {
    box-sizing: border-box;
  }
  
  a {
    color: #555555;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
    color: red;
  }
  
  a:hover i {
    color: red;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #9d9ca3;
    font-size: 1.4rem;
    padding: 6px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #2142b2;
  }